<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <tr>
                  <th>Name </th>
                  <th>Company</th>
                </tr>
                    <tr *ngFor="let item of items">
                        <td>{{item.name}}</td>
                        <td>{{item.company}}</td>
                       </tr>
              </table>
        </div>
    </div>
    </div>