<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a routerLink="angular" class="me-4 text-reset">
          <i class="fab fa-facebook-f">Facebook</i>
        </a>
        <a routerLink="angular" class="me-4 text-reset">
          <i class="fab fa-twitter">Twitter</i>
        </a>
        <a routerLink="angular" class="me-4 text-reset">
          <i class="fab fa-google">Google</i>
        </a>
        <a routerLink="angular" class="me-4 text-reset">
          <i class="fab fa-instagram">Instagram</i>
        </a>
        <a routerLink="angular" class="me-4 text-reset">
          <i class="fab fa-linkedin">Linked In</i>
        </a>
        <a routerLink="angular" class="me-4 text-reset">
          <i class="fab fa-github">GitHub</i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>MobCoder
            </h6>
            <p>
              We create game-changing digital experiences for customers by leveraging cutting-edge technologies and building scalable solutions.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i>Noida Office
              B-4/5, 2nd Floor Sector 63 , Noida 201301</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              sales@mobcoder.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +91 (987) 654-3210</p>
            <p><i class="fas fa-print me-3"></i>+91 (987) 654-3210</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">mobcoder.com
        
      </a>
    </div>
    <!-- Copyright -->
  </footer>